.App{
  width: 100%;
  height: 100vh;
}
/* svg{
  width: 100%;
  height: 100%;
} */

.Loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #83d0ff;
}
.Title{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.BarChart-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Map-Container{
  width: 1500px;
  display: flex;
  justify-content: center;
}
.toolbar{
  width: 300px;
  height: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: left;
  background: lightgray;
}
.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Year-Slider{
  display: flex;
  justify-content: space-between;
}
.DatasetContainer{
  display: flex;
  position: absolute;
  right: 40px;
  top: 10px;
  align-items: center;
}